<form action="{% url 'idea:like-post' %}" method="POST" class="like-form" id="{{obj.id}}">
                    {% csrf_token %}
                    <input type="hidden" name="post_id" value="{{obj.id}}">
                        <button class="btn btn-info like-btn{{ obj.id }}" type="submit">
                            {% if user not in obj.liked.all %}
                            Like
                            {% else %}
                            Unlike
                            {% endif %}
                        </button>
                    <div class="like-count{{ obj.id }}">{{obj.liked.all.count}} </div>
                </form> likes