{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Ваши предложения</title>
</head>
<body>
{% include 'idea/nav.html' %}
<div class="container mt-3">
    <h1>Список идей</h1>
    <div class="row">
        {% for obj in qs %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ obj.title }}</h5>
                <p class="card-text">{{ obj.body }}</p>
            </div>
            <div class="'card-footer text-muted">
                {{ obj.author }}
                <br/>
                {{obj.created_at}}


                <br/>
                {% include 'idea/like_section.html' %}
                <hr>
                <br/>

            </div>
        </div>
        {% endfor %}


    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<script src="{% static 'idea/js/like.js' %}"></script>
</body>
</html>
