<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'idea:post-list' %}">Главная</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'idea:add_idea' %}">
                        <button type="submit" class="btn btn-primary btn-block">Добавить идею</button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>